.deps
Makefile
Makefile.in
MoneyApp
*.o
*.trs
aclocal.m4
autom4te.cache
compile
config.status
configure
depcomp
install-sh
missing
test-driver
*.log

nothing added to commit but untracked files present (use "git add" to track)
